.card {
    background-color: rgb(235, 235, 235);
    width: 25vw;
    min-width: 318px;
    padding: 1vw;
    margin: 20vh auto;
    margin-top: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgb(255, 255, 255);
    transition: box-shadow 0.8s, background-color 0.8s;
    box-sizing: border-box;
}

.card:hover {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3), -3px -3px 5px rgb(255, 255, 255);
    background-color: rgb(248, 248, 248);
}

.card:hover > p {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3) inset, -3px -3px 5px rgb(255, 255, 255) inset;
}

.profile-img {
    height: 23vw;
    width: 23vw;
    margin: 0 auto;
    min-height: 290px;
    min-width: 290px;
    background-color: blue;
}

.card h2 {
    margin: 8px 0;
}

.card p {
    margin-top: 0;
    background-color: transparent;
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3) inset, -3px -3px 5px rgb(255, 255, 255) inset;
    transition: box-shadow 0.8s, background-color 0.8s;
}

.last-p {
    margin-bottom: 0;
    padding-bottom: 0;
}